repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5
    hooks:
      # Run the linter (replaces flake8).
      - id: ruff
        types_or: [ python, pyi ]
        args: [ --fix ]
      # Run the formatter (replaces black).
      - id: ruff-format
        types_or: [ python, pyi ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
